a {
  text-decoration: none;
  color: currentColor;
}

.header-logo{
  width: 24px;
}

.header-logo-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: slategray;
}

.lang-dropdown-menu {
  min-width: 120px;
  right: 0;
  left: unset !important;
}

.lang-img-link {
  font-size: 12px;
}

.lang-img-wr {
  height: 22px;
  width: 22px;
}

.nav-flex {
  gap: 1rem;
}

.index-search-btn {
  flex: 1 0 auto;
  min-width: 100px;
}

.search-job-input {
  max-width: 700px;
  width: 100%;
}

.job-search-filter-icon {
  font-size: 32px !important;
}

.job-item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.job-detail-farm-gallery {
  overflow-x: scroll;
}

.job-detail-farm-img {
  width: 22%;
}

.job-detail-desc-wr {
  font-size: 14px;
}

@media (max-width: 768px) {
  .job-item-title {
    font-size: 14px;
  }
  .job-item-desc,
  .job-item-sub {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
  .job-detail-farm-img {
    width: 45%;
    height: 120px;
    object-fit: cover;
  }

  .text-truncate-sm-2 {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* IPHONE */

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  .job-search-filter-wr > * {
    margin-right: 1rem;
  }

  .job-detail-farm-img {
    margin-right: 0.5rem;
  }

  .job-detail-subtitle > * {
    margin-right: 0.5rem;
  }

  .job-item-sub > * {
    margin-right: 0.25rem;
  }
}


/* UTILITIES */

.text-truncate-2 {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}