a {
  text-decoration: none;
  color: currentColor;
}

.header-logo{
  width: 24px;
}

.header-logo-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: slategray;
}

.lang-img-wr {
  height: 32px;
  width: 32px;
}

.nav-flex {
  gap: 1rem;
}

.search-job-input {
  max-width: 700px;
  width: 100%;
}

.job-search-filter-icon {
  font-size: 32px !important;
}

.job-item-img {
  max-he  175px;
  height: 100%;
  object-fit: cover;
}


.job-detail-farm-gallery {
  overflow-x: scroll;
}

.job-detail-farm-img {
  width: 22%;
}

.job-detail-desc-wr {
  font-size: 14px;
}

@media (max-width: 768px) {
  .job-item-title {
    font-size: 14px;
  }
  .job-item-desc,
  .job-item-sub {
    font-size: 12px;
  }
  .job-detail-farm-img {
    width: 30%;
  }
}